---
import PostsLoop from "../posts-loop.astro";
---

<section class="max-w-2xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    Задания
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Тестовые задания для позиции технического менеджера SUPERPET
  </p>

  <div class="w-full max-w-2xl mx-auto my-7 xl:px-0">
    <div class="w-full space-y-7">
      <PostsLoop count="5" />
    </div>
  </div>
</section>
