---
const { link, text } = Astro.props;
const isExternal = link?.startsWith("http");
---

<a
  href={link}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  class="inline-flex w-auto px-6 py-3 md:px-4 md:py-2 mt-5 text-sm md:text-xs font-semibold duration-300 ease-out border rounded-full bg-neutral-900 dark:bg-white dark:text-neutral-900 text-neutral-100 hover:border-neutral-700 border-neutral-900 dark:hover:border-neutral-300 hover:bg-white dark:hover:bg-black dark:hover:text-white hover:text-neutral-900"
>
  {text}
</a>
